.link{

    text-decoration:none;
    color:rgb(93, 93, 116);
    font-size:25px;
    margin:50px;
    
}
.navbar{
  
    background:rgb(220, 220, 228);
    padding:15px;
    height: 100px;
    width: 100%;
    
} 