.link{

    text-decoration:none;
    color:rgb(29, 26, 167);
    font-size:25px;
    margin:30px;
    
}
.navbar{
  
    background:rgb(179, 179, 197);
    padding:15px;
    height: 100px;
    width: 100%;
    
} 